/* 
// ╔╗ ╔═╗╔╗╔╔╦╗╔═╗
// ╠╩╗║╣ ║║║ ║ ║ ║
// ╚═╝╚═╝╝╚╝ ╩ ╚═╝ 
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  /* background: #000; */
}
.text{
  font-size: 150px;
  font-weight: 800;
  outline: none;
  text-transform: uppercase;
  background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: animate 10s linear infinite;
}
@keyframes animate {
  to{
    background-position: 400%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

html, body {
width: 100%;
height:100%;
}

body {
background: linear-gradient(-65deg, #085371, #5e007a, #085371, #5e007a);
background-size: 300% 300%;
animation: gradient 60s ease infinite;
}

@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}



/* V A R I A B L E S */

:root {
  /* Fonts  */
  --fsg: 12vh; /* Time and Greetings */
  --fsm: 8vh; /* Date */
  --fss: 3vh; /* Greetings and Weather widger */
  --fses: 2vh; /* Links List */

  --iconsize: 3vh;

  /* Light theme  */
  --accent: #504945; /* Hover color */
  --bg: #1D2021; /* Background color */
  --sbg: #EEE0B7; /* Cards color */

  --fg: #EEE0B7; /* Foreground color */
  --sfg: #504945; /* Sceondary Foreground color */

  /* Image background  */

  /* Uncoment this section to get the 
    image wallpaper. You can also 
    change the --imgcol value 
    to make the filter to your own */

  --imgbg: url(assets/background.jpg);
  --imgcol: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  ); /* Filter color */
}

/* Dark theme  */
.darktheme {
  --accent: #EEE0B7; /* Hover color */
  --bg: #1D2021; /* Background color */
  --sbg: #504945; /* Cards color */
  --fg: #EEE0B7; /* Foreground color */
  --sfg: #3a3a3a; /* Secondary Foreground color */
  --imgcol: linear-gradient(
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.85)
  ); /* Filter color */
}

/* S T Y L E S */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  transition: 0.2s ease-in-out;
}

.notransition {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.withImageBackground {
  background-image: var(--imgcol), var(--imgbg);
  background-size: cover;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

#themeButton {
  position: absolute;
  margin: 2em 2em 0 0;
  right: 0;
  top: 0;
  color: var(--fg);
  border: none;
  cursor: pointer;
  background-color: #00000000;
}

#themeButton__icon {
  width: 25px;
  height: 25px;
}

.container {
  width: 145vh;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

.card {
  background-color: rgba(115, 115, 115, 0.448);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
  border-radius: 30px;
}

.card:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 10px 10px rgba(255, 255, 255, 0.092);
}

.timeBlock {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherBlock {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherBlock__date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.weatherBlock__weather {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hour,
#separator,
#minutes {
  font-size: var(--fsg);
  font-weight: bolder;
  color: var(--fg);
}

#month,
#day {
  font-size: var(--fsm);
  font-weight: bold;
  color: var(--fg);
}

#day {
  margin-left: 20px;
}

#greetings {
  font-size: var(--fss);
  color: var(--fg);
}

.weather-icon img {
  width: 0px;
  height: 0px;
}

.temperature-value p {
  font-size: 0;
  font-weight: bolder;
  margin-left: 15px;
  color: var(--fg);
}

.temperature-description p {
  font-size: var(--fss);
  margin-left: 15px;
  color: var(--fg);
}

.buttonLink {
  grid-row: 3 / span 2;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

.buttonLink__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonLink__icon {
  width: var(--iconsize);
  height: var(--iconsize);
  color: var(--fg);
}

.buttonLink__link-1 {
  grid-row: 1;
  grid-column: 1;
}
.buttonLink__link-2 {
  grid-row: 1;
  grid-column: 2;
}
.buttonLink__link-3 {
  grid-row: 2;
  grid-column: 1;
}
.buttonLink__link-4 {
  grid-row: 2;
  grid-column: 2;
}
.buttonLink__link-5 {
  grid-row: 1;
  grid-column: 3;
}
.buttonLink__link-6 {
  grid-row: 2;
  grid-column: 3;
}
.buttonLink__link:hover {
  background-color: rgba(176, 176, 176, 0.487);
}
.buttonLink__link:hover svg {
  stroke: var(--sfg);
}

.list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list__1 {
  grid-column: 3;
  grid-row: 3 / span 2;
}
.list__2 {
  grid-column: 4;
  grid-row: 3 / span 2;
}
.list__head {
  margin-top: 3vh;
  margin-bottom: 2vh;
  color: var(--fg);
  width: var(--iconsize);
  height: var(--iconsize);
}
.list__link {
  text-decoration: none;
  font-size: var(--fses);
  color: var(--fg);
  margin-top: 1vh;
  padding: 8px 12px;
  border-radius: 13px;
  font-weight: bold;
  text-align: center;
  width: 80%;
}
.list__link:hover {
  background-color: rgba(176, 176, 176, 0.487);
  color: var(--fg);
  
  
}

/* M E D I A - Q U E R I E S */

@media only screen and (max-width: 68.75em) {
  .container {
    grid-gap: 20px;
    padding: 40px;
  }

  .timeBlock {
    grid-row: 1 / span 2;
    grid-column: 1 / span 4;
  }

  .weatherBlock {
    display: none;
  }

  #greetings {
    font-size: var(--fss);
  }

  .list {
    display: none;
  }

  .buttonLink {
    grid-column: 1 / span 4;
    grid-gap: 3vw;
    padding-left: 100px;
    padding-right: 100px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*::before, *::after{
  padding: 0;
  margin: 0;
}
:root{
  --pink: #dde1cba3;
  --violet: #dde1cbc0;
  --lightblack: #EEE0B7;
  --white: rgba(115, 115, 115, 0.448);
  --darkwhite: #5a5858;
  --pinkshadow: #ffcbdd00;
  --lightbshadow: rgba(0, 0, 0, 0.372);
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
/*
  width: 145vh;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 20px;
}
*/

.wrapper{
  width: 30vh;
  height: 80vh;
  padding: 120px 25px;
  overflow: hidden;
  border-radius: 30px;
  background: var(--white);
  box-shadow: 0px 6px 15px var(--lightbshadow);
}
.wrapper i{
  cursor: pointer;
}
.top-bar, .progress-area .song-timer, 
.controls, .music-list .header, .music-list ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar i{
  font-size: 30px;
  color: var(--lightblack);
}
.top-bar i:first-child{
  margin-left: -7px;
}
.top-bar span{
  font-size: 18px;
  margin-left: -3px;
  color: var(--lightblack);
}
.img-area{
  width: 100%;
  height: 256px;
  overflow: hidden;
  margin-top: 25px;
  border-radius: 15px;
  box-shadow: 0px 6px 12px var(--lightbshadow);
}
.img-area img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.song-details{
  text-align: center;
  margin: 30px 0;
}
.song-details p{
  color: var(--lightblack);
}
.song-details .name{
  font-size: 21px;
}
.song-details .artist{
  font-size: 18px;
  opacity: 0.9;
  line-height: 35px;
}
.progress-area{
  height: 6px;
  width: 100%;
  border-radius: 50px;
  background: #f0f0f0;
  cursor: pointer;
}
.progress-area .progress-bar{
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: linear-gradient(90deg, var(--white) 0%, var(--violet) 100%);
}
.progress-bar::before{
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  background: inherit;
  transition: opacity 0.8s ease;
}
.progress-area:hover .progress-bar::before{
  opacity: 1;
  pointer-events: auto;
}
.progress-area .song-timer{
  margin-top: 2px;
}
.song-timer span{
  font-size: 13px;
  color: var(--lightblack);
}
.controls{
  margin: 40px 0 5px 0;
}
.controls i{
  font-size: 28px;
  user-select: none;
  background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),
.controls i:nth-child(4){
  font-size: 43px;
}
.controls #prev{
  margin-right: -13px;
}
.controls #next{
  margin-left: -13px;
}
.controls .play-pause{
  height: 54px;
  width: 54px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%);
  box-shadow: 0px 0px 5px var(--pink);
}
.play-pause::before{
  position: absolute;
  content: "";
  height: 43px;
  width: 43px;
  border-radius: inherit;
  background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
}
.play-pause i{
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
}

.music-list{
  position: absolute;
  background: var(--white);
  width: 100%;
  left: 0;
  bottom: -55%;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
  transition: all 0.15s ease-out;
}
.music-list.show{
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}
.header .row{
  display: flex;
  align-items: center;
  font-size: 19px;
  color: var(--lightblack);
}
.header .row i{
  cursor: default;
}
.header .row span{
  margin-left: 5px;
}
.header #close{
  font-size: 22px;
  color: var(--lightblack);
}
.music-list ul{
  margin: 10px 0;
  max-height: 260px;
  overflow: auto;
}
.music-list ul::-webkit-scrollbar{
  width: 0px;
}
.music-list ul li{
  list-style: none;
  display: flex;
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: var(--lightblack);
  border-bottom: 1px solid #E5E5E5;
}
.music-list ul li:last-child{
  border-bottom: 0px;
}
.music-list ul li .row span{
  font-size: 17px;
}
.music-list ul li .row p{
  opacity: 0.9;
}
ul li .audio-duration{
  font-size: 16px;
}
ul li.playing{
  pointer-events: none;
  color: var(--violet);
}