/* 
// ╔╗ ╔═╗╔╗╔╔╦╗╔═╗
// ╠╩╗║╣ ║║║ ║ ║ ║
// ╚═╝╚═╝╝╚╝ ╩ ╚═╝ 
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html, body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 7s 0s infinite;
          animation: drop 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: -25%;
}
.line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.line:nth-child(3) {
  margin-left: 25%;
}
.line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

/* V A R I A B L E S */

:root {
  /* Fonts  */
  --fsg: 12vh; /* Time and Greetings */
  --fsm: 8vh; /* Date */
  --fss: 3vh; /* Greetings and Weather widger */
  --fses: 2vh; /* Links List */

  --iconsize: 3vh;

  /* Light theme  */
  --accent: #504945; /* Hover color */
  --bg: #1D2021; /* Background color */
  --sbg: #EEE0B7; /* Cards color */

  --fg: #EEE0B7; /* Foreground color */
  --sfg: #504945; /* Sceondary Foreground color */

  /* Image background  */

  /* Uncoment this section to get the 
    image wallpaper. You can also 
    change the --imgcol value 
    to make the filter to your own */

  --imgbg: url(assets/background.jpg);
  --imgcol: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  ); /* Filter color */
}

/* Dark theme  */
.darktheme {
  --accent: #EEE0B7; /* Hover color */
  --bg: #1D2021; /* Background color */
  --sbg: #504945; /* Cards color */
  --fg: #EEE0B7; /* Foreground color */
  --sfg: #3a3a3a; /* Secondary Foreground color */
  --imgcol: linear-gradient(
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.85)
  ); /* Filter color */
}

/* S T Y L E S */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  transition: 0.2s ease-in-out;
}

.notransition {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.withImageBackground {
  background-image: var(--imgcol), var(--imgbg);
  background-size: cover;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

#themeButton {
  position: absolute;
  margin: 2em 2em 0 0;
  right: 0;
  top: 0;
  color: var(--fg);
  border: none;
  cursor: pointer;
  background-color: #00000000;
}

#themeButton__icon {
  width: 25px;
  height: 25px;
}

.container {
  width: 145vh;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

.card {
  background-color: var(--sbg);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

.card:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
}

.timeBlock {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherBlock {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherBlock__date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.weatherBlock__weather {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hour,
#separator,
#minutes {
  font-size: var(--fsg);
  font-weight: bolder;
  color: var(--fg);
}

#month,
#day {
  font-size: var(--fsm);
  font-weight: bold;
  color: var(--fg);
}

#day {
  margin-left: 20px;
}

#greetings {
  font-size: var(--fss);
  color: var(--fg);
}

.weather-icon img {
  width: 70px;
  height: 70px;
}

.temperature-value p {
  font-size: var(--fss);
  font-weight: bolder;
  margin-left: 15px;
  color: var(--fg);
}

.temperature-description p {
  font-size: var(--fss);
  margin-left: 15px;
  color: var(--fg);
}

.buttonLink {
  grid-row: 3 / span 2;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

.buttonLink__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonLink__icon {
  width: var(--iconsize);
  height: var(--iconsize);
  color: var(--fg);
}

.buttonLink__link-1 {
  grid-row: 1;
  grid-column: 1;
}
.buttonLink__link-2 {
  grid-row: 1;
  grid-column: 2;
}
.buttonLink__link-3 {
  grid-row: 2;
  grid-column: 1;
}
.buttonLink__link-4 {
  grid-row: 2;
  grid-column: 2;
}
.buttonLink__link-5 {
  grid-row: 1;
  grid-column: 3;
}
.buttonLink__link-6 {
  grid-row: 2;
  grid-column: 3;
}
.buttonLink__link:hover {
  background-color: var(--accent);
}
.buttonLink__link:hover svg {
  stroke: var(--sfg);
}

.list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list__1 {
  grid-column: 3;
  grid-row: 3 / span 2;
}
.list__2 {
  grid-column: 4;
  grid-row: 3 / span 2;
}
.list__head {
  margin-top: 3vh;
  margin-bottom: 2vh;
  color: var(--fg);
  width: var(--iconsize);
  height: var(--iconsize);
}
.list__link {
  text-decoration: none;
  font-size: var(--fses);
  color: var(--fg);
  margin-top: 1vh;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  width: 80%;
}
.list__link:hover {
  background-color: var(--accent);
  color: var(--sfg);
  
}

/* M E D I A - Q U E R I E S */

@media only screen and (max-width: 68.75em) {
  .container {
    grid-gap: 20px;
    padding: 40px;
  }

  .timeBlock {
    grid-row: 1 / span 2;
    grid-column: 1 / span 4;
  }

  .weatherBlock {
    display: none;
  }

  #greetings {
    font-size: var(--fss);
  }

  .list {
    display: none;
  }

  .buttonLink {
    grid-column: 1 / span 4;
    grid-gap: 3vw;
    padding-left: 100px;
    padding-right: 100px;
  }
}
